*.pdf

# Created by https://www.gitignore.io/api/git

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt


# End of https://www.gitignore.io/api/git

# Created by https://www.gitignore.io/api/libreoffice
# Edit at https://www.gitignore.io/?templates=libreoffice

### LibreOffice ###
# LibreOffice locks
.~lock.*#

# End of https://www.gitignore.io/api/libreoffice
